* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Kanit", sans-serif;
}

body {
  min-height: 90vh;
}

video {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div-container-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  z-index: 1;
  border-radius: 10px;
  margin: 10px;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.div-container-header img {
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 20%;
}

.left-containerInside {
  display: flex;
  padding: 5px;
}

.left-containerInside ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 50px;
  color: #e9e8e8;
  text-shadow: 3px -3px 30px rgb(2, 177, 200);
}

.left-containerInside ul li {
  font-size: 25px;
}
