* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  min-height: 100vh;
}

video {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.hedi {
  padding: 20px 20px 0px 20px;
}

main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.div-container-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.719);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.div-container-header img {
  display: flex;
  justify-content: center;
  width: 250px;
  padding: 20px;
}

.left-containerInside {
  display: flex;
  padding: 20px;
}

.left-containerInside ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
  color: #e9e8e8;
  font-size: 25px;
  text-shadow: 3px -3px 30px rgb(2, 177, 200);
}

/*main styles*/

#container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
  justify-content: center;
  box-sizing: border-box;
}
.cardCharacters {
  width: 220px;
  background-color: rgba(0, 0, 0, 0.521);
  text-align: center;
  color: #e9e8e8;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 2px -2px 38px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px -2px 38px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -2px 38px -8px rgba(0, 0, 0, 0.75);
}

.cardCharacters img {
  width: 100%;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border: 3px solid white;
}

.div-container-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.719);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.div-inside {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
}

.div-inside2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-inside h2 {
  color: #e9e8e8;
  font-size: 25px;
  text-shadow: 3px -3px 30px rgb(2, 177, 200);
}

.div-inside p {
  color: #e9e8e8;
  font-size: 18px;
}

iframe {
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

h2 {
  color: #e9e8e8;
  font-size: 25px;
  text-shadow: 3px -3px 30px rgb(2, 177, 200);
}

.div-characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.719);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 20px;
}

.div-epi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.719);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 20px;
}
.hedi2 {
  padding: 0px 20px 20px 20px;
}
.icoHBO {
  width: 200px;
  border-radius: 10%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e9e8e8;
  font-size: 18px;
  gap: 20px;
}
